# encoding = utf-8
import re
import requests

url = 'https://www.amazon.com/dp/B06XKBW1QK'
url_info = requests.get(url)
data = url_info.text
price = re.findall('id="priceblock_ourprice" class="a-size-medium a-color-price"(>.*?)</span>', data, re.S)
print(price)
